@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen text-slate-900 antialiased;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
  }

  a {
    @apply text-inherit no-underline;
  }

  img {
    @apply max-w-full block;
  }
}
